{% extends "base.html" %}

{% block content %}
  <div class="container full-height pb-5" style="max-width: 900px">
    {% if public %}
      {% include "components/navbar-public.html" %}
    {% else %}
      {% include "components/navbar.html" %}
    {% endif %}

    <h1 class="mx-auto"><b>Feedback</b></h1>
    <br>
    <iframe class="mx-auto w-100"
    src="https://docs.google.com/forms/d/e/1FAIpQLScILZND4RiH55KkXKBg4KOo-nWsMzwyZtpbWAfoNoY5wk-E4A/viewform?embedded=true"
    width="640" height="601" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
{% endblock %}
