{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <!-- pill-box CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/pill-box.css') }}">
{% endblock %}

{% block content %}
  <div class="container full-height pb-4" style="max-width: 900px">
    {% include "components/navbar.html" %}
    <div class="row flex-grow-1 overflow-auto full-page-content" style="background: var(--dark-4);">
      <div class="col-md-4 overflow-auto py-3">
        <div class="d-flex justify-content-between align-items-center pb-3">
          <h3 class="mb-0">Classes</h3>
          <div class="d-flex align-items-center">
            {% if user_info %}
              <img src="{{ url_for('static', filename='image/canvas-logo.png') }}"
              height="24px" data-toggle="tooltip" id="canvas-class-button" href='/canvas-class' title="Import Class from Canvas">
              <script>
                $(document).ready(function() {
                  $("#canvas-class-button").click(function(event) {
                    /* stop form from submitting normally */
                    event.preventDefault();
      
                    /* get the action attribute from the <form action=""> element */
                    let $button = $(this),
                      url = $button.attr('href');
      
                    /* Send the data using post with element id name and name2*/
                    let posting = $.post(url);
      
                    /* Alerts the results */
                    posting.done(function() {
                      location.reload();
                    });
                    posting.fail(function() {
                      console.log("failed");
                    });
                  });
                });
              </script>
            {% endif %}
            {% if user_info == false %}
              <button data-toggle="modal" data-toggle="tooltip" data-target="#canvasKeyModal"
              class="btn btn-secondary mr-2" title="Add Canvas Key">
                Canvas Key
              </button>
            {% endif %}
            <i class="fa fa-plus add ml-2" data-toggle="modal" data-toggle="tooltip"
            data-target="#classModal" title="Add Class"></i>
          </div>
        </div>

        <!-- Retrieves the class list and displays the class details -->
        <div class="pill-box">
          {% for class in class_list: %}
            <div class="pill-row">
              <div class="pill" style="border-left-color: var(--hl-{{class['color']}})">
                <a data-toggle="modal" data-target="#classDetailsModal"
                data-id="{{class['class_id']}}" class="title-link open-ClassDetails">
                  {{class["title"]}}
                </a><br>
                <div class="d-flex justify-content-between">
                  <div class="subtle">{{class["dept"]}}{{class["num"]}}</div>
                  <i class="fa fa-trash open-DeleteClass" data-toggle="modal"
                  data-target="#deleteClassModal" data-id="{{class['class_id']}}">
                  </i>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-8 overflow-auto py-3" id="task-col">
        <div class="d-flex justify-content-between align-items-center pb-3">
          <div class="d-flex align-items-center">
            <h3 class="mb-0 mr-3">Tasks</h3>
            <div class="dropdown">
              <button class="dropdown-toggle btn btn-small btn-custom" href="#" id="sortingDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/list?sort=due_date">Date</a>
                <a class="dropdown-item" href="/list?sort=class">Class</a>
                <a class="dropdown-item" href="/list?sort=priority">Priority</a>
                <a class="dropdown-item" href="/list?sort=title">Title</a>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button data-toggle="modal" data-target="#groupTasksModal"
            class="btn btn-secondary mr-2">
              Group
            </button>
            <!-- TODO: Remove -->
            {% if user_info %}
              <a data-toggle="modal" data-target="#canvasImportModal" data-toggle="tooltip" title="Import Task from Canvas">
                <img src="{{ url_for('static', filename='image/canvas-logo.png') }}"
                height="24px">
              </a>
            {% endif %}
            <i class="fa fa-plus add ml-2" data-toggle="modal" data-toggle="tooltip"
            data-target="#taskModal" title="Add Task"></i>
          </div>
        </div>
        <!-- Retrieves the task list and displays the task details -->
        <form action="/completion-form" name="task_list">
          <div class="pill-box">
            {% for task in task_list: %}
              {% if task["completed"] == false %}
                <div class="pill-row">
                  <div class="pill" style="border-left-color: var(--hl-{{task['color']}})">
                    <div class="d-flex justify-content-between">
                      <div class="pill-left">
                        <!-- Maybe an error here.-->
                        <a data-toggle="modal" data-target="#taskDetailsModal"
                        data-id="?task_id={{task['task_id']}}&iteration={{task['iteration']}}"
                        class="title-link open-TaskDetails">
                          {{task["iteration_title"]}}
                        </a>
                      </div>
                      <div>
                        {% if task["repeat"] %}
                          <span class="fa fa-repeat mr-1"></span>
                        {% endif %}
                        {{task["due_date"]}}
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="subtle pill-left">{{task["class"]}}</div>
                      <div>
                        <i class="fa fa-check-square open-CompleteTask" data-toggle="modal"
                        data-target="#taskCompletionModal" data-id="{{task['task_id']}}" 
                        data-iteration="{{task['iteration']}}">
                        </i>
                        <i class="fa fa-trash ml-1 open-DeleteTask" data-toggle="modal"
                        data-target="#deleteTaskModal" data-id="{{task['task_id']}}" 
                        data-iteration="{{task['iteration']}}">
                        </i>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <h2 class="time-prediction">
                      <p id="timely-time-info" data-toggle="tooltip" data-placement="right"
                        title="Timely Predicted Time">
                        {{task["timely_pred"]}} h
                      </p>
                    </h2>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </form>
        <br>
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Completed Tasks</h5>
          <button class="btn btn-sm btn-custom"
          data-toggle="collapse" data-target="#completed-tasks-collapse">Show/Hide</button>
        </div>
        <br>
        <div class="pill-box" class="collapse" id="completed-tasks-collapse">
          {% for task in task_list: %}
            {% if task["completed"] == true %}
              <div class="pill-row">
                <div class="pill" style="border-left-color: var(--hl-{{task['color']}})">
                  <div class="d-flex justify-content-between">
                    <div class="pill-left d-flex">
                      <div style="overflow: hidden; text-overflow: ellipsis;">
                        <a data-toggle="modal" data-target="#taskDetailsModal"
                        data-id="?task_id={{task['task_id']}}&iteration={{task['iteration']}}"
                        class="title-link open-TaskDetails">
                          <del>{{task["iteration_title"]}}</del>
                        </a>
                      </div>
                      <div>
                        <i href="/uncomplete?task_id={{task['task_id']}}&iteration={{task['iteration']}}"
                        id="uncomplete-{{task['task_id']}}-{{task['iteration']}}"
                        class="fa fa-check-square ml-1"></i>
                        <script>
                          $(document).ready(function() {
                            $("#uncomplete-{{task['task_id']}}-{{task['iteration']}}")
                              .click(function(event) {
                              /* stop form from submitting normally */
                              event.preventDefault();
                
                              /* get the action attribute from the <form action=""> element */
                              let $button = $(this),
                                url = $button.attr('href');
                
                              /* Send the data using post with element id name and name2*/
                              let posting = $.post(url);
                
                              /* Alerts the results */
                              posting.done(function() {
                                location.reload(true);
                              });
                              posting.fail(function() {
                                console.log("failed");
                              });
                            });
                          });
                        </script>
                        <i class="fa fa-trash ml-1 open-DeleteTask" data-toggle="modal"
                            data-target="#deleteTaskModal" data-id="{{task['task_id']}}"
                            data-iteration="{{task['iteration']}}">
                        </i>
                      </div>
                    </div>
                    <div>{{task["due_date"]}}</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="subtle pill-left">{{task["class"]}}</div>
                    {% if task["actual_time"] %}
                      <div class="subtle">{{task["actual_time"]}} h</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $(document).ready(function() {
      $("#completed-tasks-collapse").collapse("show");
    });
  </script>

  {% include "components/create-task.html" %}
  {% include "components/create-class.html" %}

  {% include "components/details-task.html" %}
  {% include "components/details-class.html" %}

  {% include "components/delete-class.html" %}
  {% include "components/delete-task.html" %}

  {% include "components/complete-task.html" %}

  {% include "components/canvas-import.html" %}

  {% include "components/group-tasks.html" %}
{% endblock %}
