{% extends "base.html" %}

{% block content %}
  <div class="container full-height pb-5" style="max-width: 900px">
    <h1 class="text-center mt-5"><b>Yikes!</b></h1>
    <h2 class="text-center">500: Internal Server Error</h2>
    <br>
    <p class="text-center">
      Something went wrong! Please use the feedback form linked below to let us know what happened.
    </p>
    <a href="/feedback?public" class="mx-auto"><button class="btn btn-primary">
      Help Me!
    </button></a>
  </div>
{% endblock %}
