{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <!-- pill-box CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style/pill-box.css') }}">
{% endblock %}

{% block content %}
  <div class="container full-height pb-5" style="max-width: 900px">
    {% include "components/navbar.html" %}

    <!-- TODO: Remove lazy styling helper classes -->
    <div class="row flex-grow-1 overflow-auto" style="background: var(--dark-4);">
      <div class="col-md-4 overflow-auto py-3">
        <div class="d-flex justify-content-between align-items-center pb-3">
          <h3 class="mb-0">Classes</h3>
          <div class="d-flex">
            {% if user_info %}
              <img src="{{ url_for('static', filename='image/canvas-logo.png') }}"
              height="24px" onclick="location.href='/canvas_class?'">
            {% endif %}
            <i class="fa fa-plus add ml-2" data-toggle="modal" data-target="#classModal"></i>
          </div>
        </div>

        <!-- Retrieves the class list and displays the class details -->
        <div class="pill-box">
          {% for class in class_list: %}
            <div class="pill-row">
              <div class="pill" style="border-left-color: var(--hl-{{class['color']}})">
                {{class["title"]}}<br>
                <div class="d-flex justify-content-between">
                  <div class="subtle">{{class["dept"]}}{{class["num"]}}</div>
                  <i class="fa fa-trash open-DeleteClass" data-toggle="modal"
                  data-target="#deleteClassModal" data-id="{{class['class_id']}}">
                  </i>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-8 overflow-auto py-3" id="task-col">
        <div class="d-flex justify-content-between align-items-center pb-3">
          <div class="d-flex align-items-center">
            <h3 class="mb-0 mr-3">Tasks</h3>
            <div class="d-none d-sm-block">
              <a href="/?sort=due_date"><button class="btn btn-small btn-custom mr-1">Date</button></a>
              <a href="/?sort=class"><button class="btn btn-small btn-custom mr-1">Class</button></a>
              <a href="/?sort=priority"><button class="btn btn-small btn-custom">Priority</button></a>
            </div>
            <div class="dropdown d-block d-md-none">
              <button class="dropdown-toggle btn btn-small btn-custom" href="#" id="sortingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/?sort=due_date">Date</a>
                <a class="dropdown-item" href="/?sort=class">Class</a>
                <a class="dropdown-item" href="/?sort=priority">Priority</a>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            {% if user_info == false %}
              <button data-toggle="modal" data-target="#canvasKeyModal" class="btn btn-secondary mr-2">
                Canvas Key
              </button>
            {% endif %}
            <button data-toggle="modal" data-target="#groupTasksModal" class="btn btn-secondary mr-2">
              Group
            </button>
            <!-- TODO: Remove -->
            {% if user_info %}
              <a data-toggle="modal" data-target="#canvasImportModal">
                <img src="{{ url_for('static', filename='image/canvas-logo.png') }}"
                height="24px">
              </a>
            {% endif %}
            <i class="fa fa-plus add ml-2" data-toggle="modal" data-target="#taskModal"></i>
          </div>
        </div>
        <!-- Retrieves the task list and displays the task details -->
        <form action="/completion_form" name="task_list">
          <div class="pill-box">
            {% for task in task_list: %}
              {% if task["completed"] == false %}
                <div class="pill-row">
                  <div class="pill" style="border-left-color: var(--hl-{{task['color']}})">
                    <div class="d-flex justify-content-between">
                      <div class="pill-left">
                        <a href="/task_details_list_view?task_id={{task['task_id']}}" class="title-link">
                          {{task["title"]}}
                        </a>
                      </div>
                      <div>
                        {% if task["repeat"] %}
                          <span class="fa fa-repeat mr-1"></span>
                        {% endif %}
                        {{task["due_date"]}}
                      </div>
                    </div>
                    <div class="d-flex justify-content-between">
                      <div class="subtle pill-left">{{task["class"]}}</div>
                      <div>
                        <i class="fa fa-check-square open-CompleteTask" data-toggle="modal"
                        data-target="#taskCompletionModal" data-id="{{task['task_id']}}" 
                        data-iteration="{{task['iteration']}}">
                        </i>
                        <i class="fa fa-trash ml-1 open-DeleteTask" data-toggle="modal"
                        data-target="#deleteTaskModal" data-id="{{task['task_id']}}">
                        </i>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <h2 class="time-prediction">{{task["timely_pred"]}} h</h2>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </form>
        <br>
        <h5>Completed Tasks</h5>
        <div class="pill-box">
          {% for task in task_list: %}
            {% if task["completed"] == true %}
              <div class="pill-row">
                <div class="pill" style="border-left-color: var(--hl-{{task['color']}})">
                  <div class="d-flex justify-content-between">
                    <div class="pill-left">
                      <del>{{task["title"]}}</del>
                      <i class="fa fa-trash ml-1 open-DeleteTask" data-toggle="modal"
                          data-target="#deleteTaskModal" data-id="{{task['task_id']}}">
                      </i>
                    </div>
                    <div>{{task["due_date"]}}</div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="subtle pill-left">{{task["class"]}}</div>
                    <div class="subtle">{{task["actual_time"]}} h</div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
	

  {% include "components/create-task.html" %}
  {% include "components/create-class.html" %}

  {% if "task_details" in request.url_rule.rule%}
    {% include "components/task-details.html" %}
  {% endif %}

  {% include "components/delete-class.html" %}
  {% include "components/delete-task.html" %}

  {% include "components/task-completion.html" %}

  {% include "components/canvas-key.html" %}
  {% include "components/canvas-import.html" %}

  {% include "components/group-tasks.html" %}
{% endblock %}
