{% extends "base.html" %}

{% block content %}
<div style="position: absolute; width: 100vw; height: 100px; background: var(--hl-purple)"></div>
  <div class="container-fluid full-height pb-5 px-0" style="max-width: 900px;">
    {% include "components/navbar-public.html" %}
    <br>

    <!-- TODO: Remove lazy styling helper classes -->
    <h1 class="massive text-center"><b>A better way to work.</b></h1>
    <h5 class="text-center">Get started now!</h5>
    <a class="mx-auto" href="/list"><button class="btn btn-custom mb-3">Sign In</button></a>
    <img style="width: 90%;" class="mx-auto" src="{{ url_for('static', filename='image/TimelyLanding.png') }}">
  </div>
{% endblock %}
