<div class="pill-row small-pill">
    <div class="pill" style="border-left-color: var(--hl-{{task['color']}})">
      <div class="d-flex justify-content-between">
        <div class="pill-left">
          <!-- Maybe an error here -->
          <a data-toggle="modal" data-target="#taskDetailsModal"
          data-id="?task_id={{task['task_id']}}&iteration={{task['iteration']}}" class="title-link open-TaskDetails">
            {{task["iteration_title"]}}
          </a>
        </div>
        <div class="d-none d-sm-inline">
          {% if task["repeat"] %}
            <span class="fa fa-repeat mr-1"></span>
          {% endif %}
          {% if task['iteration'] > 2 %}
            <b id="timely-time-calendar" style="color: var(--hl-blue);" data-toggle="tooltip" data-placement="right"
              title="Timely Predicted Time">
          {% endif %}
          {{task["timely_pred"]}} h
          {% if task['iteration'] > 2 %}
            </b>
          {% endif %}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="subtle pill-left">{{task["class"]}}</div>
        <div>
          <i class="fa fa-check-square open-CompleteTask d-none d-sm-inline" data-toggle="modal" data-toggle="tooltip"
          data-target="#taskCompletionModal" data-id="{{task['task_id']}}" 
          data-iteration="{{task['iteration']}}" title="Complete Task">
          </i>
          <i class="fa fa-trash ml-1 open-DeleteTask d-none d-sm-inline" data-toggle="modal" data-toggle="tooltip"
          data-target="#deleteTaskModal" data-id="{{task['task_id']}}" title="Delete Task">
          </i>
        </div>
      </div>
    </div>
  </div>