@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

:root {
    --dark-5: #1e1e1e;
    --dark-4: #2b2b2b;
    --dark-3: #515151;
    --dark-2: #b6b6b6;
    --dark-1: #e5e5e5;

    --hl-red: #ff4545;
    --hl-purple: #8e58ff;
    --hl-orange: #ffad4e;
    --hl-green: #a2ff93;
}

html, body, #content {
    height: 100%;
}

.full-height {
    display: flex; flex-direction: column; height: 100%; 
}

/* Custom style for displaying classes and estimated time*/
.subtle {
    font-size: 0.9em;
    color: var(--dark-2);
}

.btn-custom{
    background-color: var(--dark-3);
    color: white;
    border-radius: 7px;
}

#task-col {
    border-width: 0px;
    border-left-width: 10px;
    border-left-color: var(--dark-5);
    border-style: solid;
}

i {
    color: var(--dark-1);
}

i:hover {
    color: var(--dark-2)
}

/* Adds style to the add icon for creating a new class/task */
.add {
    font-size: 1.5em;
    padding: 0px;
}

.info-icon {
    font-size: 1.5em;
}

/* Provides consistent theme to the bootstrap modal */
.modal-content {
    background-color: var(--dark-4);
}

.modal-header {
    border-bottom-width: 0px;
}

.modal-footer {
    border-top-width: 0px;
}

/* Styles the close/exit icon on the modal */
.close {
    color: inherit;
}

.close:hover {
    color: var(--dark-1);
}

body {
    background-color: var(--dark-5);
    color: var(--dark-1);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--dark-1);
}

#logo {
    font-family: "Yellowtail", cursive;
    font-size: 3em;
}

/* Circular highlight around an icon */
.circle-icon {
    background: var(--hl-purple);
    padding: .5em;
    border-radius: 50%;
}

.title-link {
    color: var(--dark-1)
}

.title-link:hover {
    color: var(--dark-2)
}

.time-prediction {
    margin-bottom: 0;
    width: 2.5em;
}

.pill-check {
    margin-right: 1em;
    margin-left: -1em;
}

.dark-nav .nav-link.active {
    background-color: var(--dark-3);
    color: var(--dark-1);
    border-color: var(--dark-2);
}

.dark-nav a {
    color: var(--dark-1);
}

.dark-nav {
    border-color: var(--dark-2);
}

#display-details {
    overflow: hidden;
    text-overflow: ellipsis;
}