/* General container for displaying multiple classes/tasks containers */
.pill-box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Container for displaying information for individual classes/tasks */
.pill {
    background: var(--dark-3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 10px;
    border-width: 0px;
    border-style: solid;
    border-left-width: 10px;
    box-shadow: 0 3px 0 var(--dark-4);
    margin-bottom: 3px;
    flex-grow: 1;
}

/* Limits the length of titles */
.pill-left {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pill-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pill-row:first-child .pill {
    border-radius: 10px 10px 0px 0px;
}
/* Ensures that the last entry of class/task displayed does not show a bottom line */
.pill-row:last-child .pill {
    border-bottom-width: 0px ;
    box-shadow: 0 0;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
}
.pill-row:only-child .pill {
    border-radius: 10px;
}

/* For resizing pills in the calendar mobile view */
@media (max-width: 768px) {
    .small-pill:first-child .pill {
        border-radius: 5px 5px 0px 0px;
    }
    .small-pill:last-child .pill {
        border-radius: 0px 0px 5px 5px;
    }
    .small-pill:only-child .pill {
        border-radius: 5px;
    }
    .small-pill .pill {
        font-size: 0.6em;
        border-left-width: 5px;
        padding: 3px 2px;
    }
    .small-pill .pill-left {
        text-overflow: clip;
    }
}