<!-- Canvas API Key Modal -->
<div class="modal fade" id="canvasKeyModal" tabindex="-1" role="dialog"
aria-labelledby="canvasKeyModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <h3 class="modal-title" id="classModal">Personal Canvas API Key</h3>
          <a href="https://community.canvaslms.com/t5/Student-Guide/How-do-I-manage-API-access-tokens-as-a-student/ta-p/273">
            <i class="fa fa-info-circle ml-3 info-icon" id="key-tooltip" data-toggle="tooltip" data-placement="right"
              title="Your personal API Key is necessary to automatically import classes and tasks
              from Canvas. <br><br>
              Click the <b>info icon</b> for more information on how to do this.">
            </i>
          </a>
        </div>
        <script>
          $(document).ready(function() {
            $('#key-tooltip').tooltip({html: true});
          });
        </script>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/canvas_key">
        <div class="modal-body">
          <div class="form-group">
            <label for="title">API Key</label>
            <input type="text" class="form-control" name="api_key" id="canvas-key">
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" id="btn-canvasKey" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
