<!-- Class Details Modal -->
<div class="modal fade" id="classDetailsModal" tabindex="-1" role="dialog"
aria-labelledby="classDetailsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="classDetailsModal">Class Details</h3>
        <div class="d-flex align-items-center">
          <i class="fa fa-edit ml-2" id="edit-class"></i>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        {% include "components/edit-class.html" %}
        <div id="display-class"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#form_edit_class").hide();
    
    $('#edit-class').click( function() {
      $( '#display-class' ).toggle();
      $( '#form_edit_class' ).toggle();
    });

    $('#classDetailsModal').on('hidden.bs.modal', function (e) {
      $("#display-class").html("");
      $("#display-class").show();
      $("#form_edit_class").hide();
      $("#form_edit_class").trigger("reset");
      $('#form_edit_class').removeClass("was-validated");
    });

    $(document).on("click", ".open-ClassDetails", function () {		
      let classId = $(this).data('id');
      $("#form_edit_class")
      .attr("action", $("#form_edit_class").attr("action") + "?class_id=" + classId);
      $.ajax({url: "/class-details?class_id=" + classId, dataType: 'json', 
      error: function( data ) { window.location.replace("/403"); },
      success: function(class_details) {
        $("#display-class").append(
          `<h4>Name: </h4> <p>${class_details["title"]}</p>
          <h4>Department: </h4> <p>${class_details["dept"]}</p>
          <h4>Course Number: </h4> <p>${class_details["num"]}</p>
          <h4>Color: </h4> <p>${
            class_details['color'].charAt(0).toUpperCase() + class_details['color'].slice(1)
          }</p>`
        );
        $("#edit_class_title").attr("value", class_details['title']);
        $("#edit_class_id").attr("value", class_details['id']);
        $("#edit_dept").attr("value", class_details['dept']);
        $("#edit_num").attr("value", class_details['num']);
        $("#span-current-color").html(class_details['color']);
        $("#class-color-value").attr("value", class_details['color']);
        $("#class-color-value").html(
          class_details['color'].charAt(0).toUpperCase() + class_details['color'].slice(1));
      }});
    });
  });
</script>
