<!-- Create Class Modal -->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog"
aria-labelledby="classModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">New Class</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/create-class-form" method="post" id="create-class-form"
        class="needs-validation" novalidate>
          <script>
            $(document).ready(function() {
              $("#create-class-form").submit(function(event) {
                /* stop form from submitting normally */
                event.preventDefault();

                $(this).addClass('was-validated');
                if ($(this)[0].checkValidity() === false)
                  return;

                /* get the action attribute from the <form action=""> element */
                let $form = $(this),
                  url = $form.attr('action'),
                  data = $form.serialize();

                /* Send the data using post with element id name and name2*/
                let posting = $.post(url, data);

                $("#" + $(this).attr("id") + " :submit").prop("disabled", true);
                $("#" + $(this).attr("id") + " :submit").text("Loading...");

                /* Alerts the results */
                posting.done(function() {
                  location.reload(true);
                });
                posting.fail(function() {
                  console.log("failed");
                });
              });
            });
          </script>
          <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" name="title" id="title"
            placeholder="e.g. Advanced Programming Techniques" required>
          </div>
          <div class="form-group">
            <label for="dept">Department</label>
            <input type="text" class="form-control" name="dept" id="dept"
            placeholder="e.g. COS" required>
          </div>
          <div class="form-group">
            <label for="num">Course Number</label>
            <input type="text" class="form-control" name="num" id="num"
            placeholder="e.g. 333" required>
          </div>
          <div class="form-group">
            <label for="color">Color</label>
            <select class="form-control" name="color" id="color">
              {% for color in colors %}
                <option value="{{color}}">
                  {{color[0].upper() + color[1:]}}
                </option>
              {% endfor %}
              </select>
          </div>
          <div class="form-group d-flex flex-row-reverse">
            <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#classModal').on('hidden.bs.modal', function(){
        $('#create-class-form').trigger("reset");
        $('#create-class-form').removeClass("was-validated");
        $("#create-class-form").each(function(){
          $(this).validate().resetForm();
      });
    });
  });
</script>

