<!-- Delete Task Modal -->
<div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog"
aria-labelledby="deleteTaskModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete Task</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this task and all its iterations?
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" id="btn-deleteTask" class="btn btn-danger">Delete</button>
        <script>
          $(document).ready(function() {
            $("#btn-deleteTask").click(function(event) {
              /* stop form from submitting normally */
              event.preventDefault();

              /* get the action attribute from the <form action=""> element */
              let $button = $(this),
                url = $button.attr('href');

              /* Send the data using post with element id name and name2*/
              let posting = $.post(url);

              $(this).prop("disabled", true);
              $(this).text("Loading...");

              /* Alerts the results */
              posting.done(function() {
                location.reload(true);
              });
              posting.fail(function() {
                console.log("failed");
              });
            });
          });
        </script>
        <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $(document).on("click", ".open-DeleteTask", function () {
        let taskId = $(this).data('id');
        $(".modal-footer #btn-deleteTask").attr("href",
        "/delete-task" + "?task_id=" + taskId);
      });
    });
  </script>
</div>
