<form action="/edit-class-details" method="post" id="form_edit_class" class="needs-validation" novalidate>
  <script>
    $(document).ready(function() {
      $("#form_edit_class").submit(function(event) {
        /* stop form from submitting normally */
        event.preventDefault();

        $(this).addClass('was-validated');
        if ($(this)[0].checkValidity() === false)
          return;

        /* get the action attribute from the <form action=""> element */
        let $form = $(this),
          url = $form.attr('action'),
          data = $form.serialize();

        /* Send the data using post with element id name and name2*/
        let posting = $.post(url, data);

        console.debug($(this).attr("id") + " :submit")
        $("#" + $(this).attr("id") + " :submit").prop("disabled", true);
        $("#" + $(this).attr("id") + " :submit").text("Loading...");

        /* Alerts the results */
        posting.done(function() {
          location.reload(true);
        });
        posting.fail(function() {
          console.log("failed");
        });
      });
    });
  </script>
  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" class="form-control" name="title" id="edit_class_title" value="..." required>
  </div>
  <div class="form-group">
    <label for="est_time">Department</label>
    <input type="text" class="form-control" name="dept" id="edit_dept" value="..." placeholder="e.g. COS" required>
  </div>
  <div class="form-group">
    <label for="link">Course Number</label>
    <input type="text" class="form-control" name="num" id="edit_num" value="..." placeholder="e.g. 333" required>
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <select class="form-control green-check" name="color" id="edit_color">
        <option value="..." id="class-color-value">
          Current: <span id="class-current-color">...</span>
        </option>
        {% for color in colors %}
            <option value="{{color}}">
            {{color[0].upper() + color[1:]}}
            </option>
        {% endfor %}
    </select>
  </div>
  <div class="form-group d-flex flex-row-reverse">
    <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
