<nav class="navbar navbar-expand-md navbar-dark bg-none">
  <a class="navbar-brand" href="#" id="logo">Timely</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link nav-icon" href="/">
          <i class="fa fa-list icon-spacer" id="list"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-icon" href="/calendar">
          <i class="fa fa-calendar icon-spacer" id="calendar"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/feedback">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#canvasKeyModal">Change Canvas API Key</a>
          <a class="dropdown-item" href="/logout">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<script>		

  $(function() {
    let loc = window.location.href; // returns the full URL
    if(/calendar/.test(loc)) {
      $('#calendar').addClass('circle-icon');
    }else{
      $('#list').addClass('circle-icon');
    }
  });
    // $(document).on("click", "#calendar", function () {	
      	
    //   $("#list").addClass("circle-icon");
    //   $("#calendar").toggleClass("circle-icon");
    // });
</script>	
{% include "components/canvas-key.html" %}
