<nav class="navbar navbar-expand-md navbar-dark bg-none" style="min-height: 6rem">
  <a class="navbar-brand" href="/" id="logo">Timely</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto align-items-center text-center mt-4 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="/feedback?public">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about?public">About</a>
      </li>
      <li>
        <a href="/list"><button class="btn btn-light ml-1">Sign In</button></a>
      </li>
    </ul>
  </div>
</nav>