<nav class="navbar navbar-expand-md navbar-dark bg-none">
  <a class="navbar-brand" href="/list" id="logo">Timely</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto align-items-center flex-row justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav-icon text-center" href="/list">
          <i class="fa fa-list icon-spacer" id="list"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-icon text-center" href="/calendar">
          <i class="fa fa-calendar icon-spacer" id="calendar"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto align-items-center text-center">
      <li class="nav-item">
        <a class="nav-link" href="/feedback">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#canvasKeyModal">
            Change Canvas API Key
          </a>
          <a class="dropdown-item" href="/logout">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<script>		

  $(function() {
    let loc = window.location.href; // returns the full URL
    if(/calendar/.test(loc)) {
      $('#calendar').addClass('circle-icon');
    }else{
      $('#list').addClass('circle-icon');
    }
  });
</script>	
{% include "components/canvas-key.html" %}
