<!-- Task Details Modal -->
<div class="modal fade" id="taskDetailsModal" tabindex="-1" role="dialog"
aria-labelledby="taskDetailsModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Task Details</h3>
        <div class="d-flex align-items-center">
          <i class="fa fa-edit ml-2" id="edit"></i>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div id="display-details"></div>
        {% include "components/edit-details.html" %}
      </div>
    </div>
  </div>
</div>
<script>
  function createChart(times) {
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = false;
    // define the chart data
    let chartData = {
      labels : times.labels,
      datasets : [{
          label: 'Actual Time',
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "white",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : times.actual_times,
          spanGaps: false
      }, {
          label: 'Timely Prediction',
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(142, 88, 255, 0.4)",
          borderColor: "#8e58ff",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "white",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(142, 88, 255, 1)",
          pointHoverBorderColor: "rgba(200,200,200,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : times.predicted_times,
          spanGaps: false
      }]
    }
      
    // get chart canvas
    let ctx = $('#time-graph');//document.getElementById('chart-area').getContext("2d");
    // Define axes
    let options = {
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true,
                fontColor: 'white'
            },
            scaleLabel: {
                display: true,
                labelString: 'Time (hrs.)',
                fontSize: 15,
                fontColor: 'white'
            },
            gridLines: {
              zeroLineColor: '#828282'
            }
        }],
        xAxes: [{
            ticks: {
                beginAtZero:true,
                fontColor: 'white'
            },
            scaleLabel: {
                display: true,
                labelString: 'Iteration',
                fontSize: 15,
                fontColor: 'white'
            },
            gridLines: {
              zeroLineColor: '#828282'
            }
        }]
      } ,
      legend: {
        labels: {
            // This more specific font property overrides the global property
            fontColor: 'white'
        }
      }
    };
    // create the chart using the chart canvas
    let timeGraph = new Chart(ctx, {
      type: 'line',
      data: chartData,
      scaleFontColor: "#fffff",
      options: options
    });
  }
</script>
<script>
  $(document).ready(function() {
    $("#form_edit_details").hide();
    
    $('#edit').click( function() {
      $("#display-details").toggle();
      $("#form_edit_details").toggle();
    });

    $('#taskDetailsModal').on('hidden.bs.modal', function (e) {
      $("#display-details").html("");
      $("#display-details").show();
      $("#form_edit_details").hide();
      $("#form_edit_details").trigger("reset");
      $('#form_edit_details').removeClass("was-validated");
    });

    $(document).on("click", ".open-TaskDetails", function () {		
      let taskId = $(this).data('id');
      $("#form_edit_details").attr("action", $("#form_edit_details").attr("action") + taskId);
      $.ajax({url: "/task-details" + taskId, dataType: 'json', 
      error: function( data ) { window.location.replace("/403"); },
      success: function(task_details) {
        $("#display-details").append(
          `<h4>Title: </h4> <p>${task_details["iteration_title"]}</p>
          <h4>Class: </h4> <p>${task_details["class"]}</p>
          <h4>Repeating: </h4> 
          <p>
            ${task_details["repeating"] ? "Yes" : "No"}
          </p>
          ${task_details["repeating"] ? 
          `<h4>Group: </h4> <p>${task_details["group_title"]}</p>` : "" }
          <h4>Due Date: </h4> <p>${task_details["due_date"]}</p>
          <h4>Priority: </h4>
          <p>
            ${task_details["priority"] == 0 ? "Low" : ""}
            ${task_details["priority"] == 1 ? "Medium" : ""}
            ${task_details["priority"] == 2 ? "High" : ""}
          </p>
          {# Fixes links without protocol by making them absolute. #}
          <h4>Link: </h4> <p><a target="_blank" href="${task_details["link"].search("http") >= 0 ?
            task_details['link'] : "//" + task_details['link']}">${task_details["link"]}</a></p>
          <h4>Estimated Time: </h4> <p>${task_details["est_time"]} h</p>
          <h4>Notes: </h4> <p>${task_details["notes"] != null ? task_details["notes"] : ""}</p>
          ${task_details["repeating"] ?
            `<h4>Time Analytics: </h4>
            <canvas id="time-graph" width="400" height="300"></canvas>` :
            ""}`
        );
        $("#edit_task_title").attr("value", task_details['iteration_title']);
        $("#edit_task_id").attr("value", task_details['id']);
        $("#edit_iteration").attr("value", task_details['iteration']);
        $("#edit_class_id").attr("value", task_details['class']);
        $("#task-current-priority").attr("value", task_details['priority']);
        if (task_details['priority'] == 0)
          $("#task-current-priority").html("Current: Low");
        else if (task_details['priority'] == 1)
          $("#task-current-priority").html("Current: Medium");
        else if (task_details['priority'] == 2)
          $("#task-current-priority").html("Current: High");
        $("#edit_est_time").attr("value", task_details['est_time']);
        $("#edit_link").attr("value", task_details['link']);
        $("#edit_due_date").attr("value", task_details['due_date']);
        $("#task-current-freq").attr("value", task_details['repeat_freq']);
        if (task_details['repeat_freq'] != null)
          $("#task-current-freq").html("Current: " + 
            task_details['repeat_freq'].charAt(0).toUpperCase() +
            task_details["repeat_freq"].slice(1));
        else
        $("#task-current-freq").html("Current: None");
        $("#edit_repeat_end").attr("value", task_details['repeat_end']);
        $("#edit_notes").attr("value", task_details['notes']);

        // Handle graph data
        if (task_details["repeating"]) {
          $.getJSON({url: "/get-graph-data" + taskId, success: function(times) {
            createChart(times);
          }});
        }
      }});
    });
  });
</script>


