<!-- Task Completion Modal -->
<div class="modal fade" id="taskCompletionModal" tabindex="-1" role="dialog"
aria-labelledby="taskCompletionModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Mark as Complete</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" class="needs-validation" novalidate>
          <label for="title">Time Taken</label>
          <input type="number" step="0.1" min=0 max="99.9" class="form-control" name="time" id="time-taken" placeholder="e.g. 4.5" required>
        </div>
        <div class="form-group modal-footer justify-content-center">
          <button type="button" id="btn-completeTask" class="btn btn-primary">Mark as Complete</button>
          <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      <!-- <div class="form-group modal-footer justify-content-center">
        <button type="button" id="btn-completeTask" class="btn btn-primary">Mark as Complete</button>
        <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
      </div> -->
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $(document).on("click", ".open-CompleteTask", function () {
        let taskId = $(this).data('id');
        let iteration = $(this).data('iteration');
        let time = $("input#time-taken").val();
        
        let loc = window.location.href; // returns the full URL
        if(/calendar/.test(loc)) {
          href = "/calendar/completion_form"
        }else{
          href = "/completion_form"
        }
        
        $(".modal-footer #btn-completeTask").attr("onclick",
        href + "?task_id=" + taskId + "&iteration=" + iteration);
      });
      $(document).on("click", "#btn-completeTask", function () {
        let time = $("input#time-taken").val();
        $(".modal-footer #btn-completeTask").attr("onclick",
         $(this).attr("onclick") + "&time=" + time);
         window.location.href=$(this).attr("onclick");
      });
    });
  </script>
</div>

<script>
  // Disabling form submissions if there are invalid fields from Bootstrap site
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
