<!-- Task Completion Modal -->
<div class="modal fade" id="taskCompletionModal" tabindex="-1" role="dialog"
aria-labelledby="taskCompletionModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Mark as Complete</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="this gets set by javascript below" method="post" id="complete-task-form">
        <script>
          $(document).ready(function() {
            $("#complete-task-form").submit(function(event) {
              /* stop form from submitting normally */
              event.preventDefault();

              /* get the action attribute from the <form action=""> element */
              let $form = $(this),
                url = $form.attr('action'),
                data = $form.serialize();

              /* Send the data using post with element id name and name2*/
              let posting = $.post(url, data);

              /* Alerts the results */
              posting.done(function() {
                location.reload(true);
              });
              posting.fail(function() {
                console.log("failed");
              });
            });
          });
        </script>
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Time Taken</label>
            <input type="text" class="form-control" name="time" id="time-taken">
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="submit" id="btn-completeTask" class="btn btn-primary">Mark as Complete</button>
          <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $(document).on("click", ".open-CompleteTask", function () {
        let taskId = $(this).data('id');
        let iteration = $(this).data('iteration');
        let time = $("input#time-taken").val();
        
        $(".modal-footer #complete-task-form").attr("action",
        "/completion_form" + "?task_id=" + taskId + "&iteration=" + iteration);
      });
    });
  </script>
</div>
